.totalMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    width: 282px;
    height: 100px;

    padding: 12px;

    margin: 0 auto;

    border-radius: 0px 0px 5px 5px;

    background-color: #F5F5F5;
}

hr{
    height: 3px;
    border: none;
    background-color: #E0E0E0;
}

.divPriceTotal{
    display: flex;
    justify-content: space-between;
}

.titleTotal{
    color: #333333;
    font-size: 14px;
}

.priceTotal{
    color: #828282;
    font-size: 12px;
}

.buttonRemove{
    height: 60px;

    font-size: 16px;

    cursor: pointer;

    border: none;
    border-radius: 8px;

    color: #828282;
}